/* NavBar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(28, 28, 49);
    height: 60px;
    align-items: center;
    padding: 0 4rem;
}

/* nav bar a */
.nav-bar a{
    text-decoration: none;
    color: aliceblue;
}

/* navbar h1 */
.nav-bar h1{
    font-size: 40px;
}

/* nav-bag */
.nav-bag{
   display: flex;
   align-items: center;
   
}

/* bag-quantity */
.bag-quantity{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    color: black;
    margin-left: 10px;
    margin-top: 6px;
}

.primaryBtn {
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #185adb;
    transition: all 0.25s ease;
  }
  
  .primaryBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
  }
