.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    min-height: 80vh;
}

.not-found h1{
    font-size: 70px;
    font-weight: 700;
}

.not-found p{
    font-size: 40px;
    color: rgb(65 65 65);
}